/* Make sure images don't overflow beyond the boundaries of the page and align
 * them to the center of the page */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Make sure maps don't overflow */
#single-map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* Align image caption text to the center of the image */
figcaption > p {
    text-align: center;
    margin: 0px;
}

figure {
	padding: 25px 0px;
	margin-bottom: 12.5px;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}
